:root{
    --background-color: #fffffb;
    --background-image: url('../assets/Ruby-Foam.jpg');
    --content-color: #e7e7e7;
    --sidebar-color: #d7d7d7;
    --text-color: #202020;
    --gallery-text-color: #fffffb;
    --navbar-color: #da2f31;
    --title-color: #ee656d;
}