:root{
    --background-color: #fffffb;
    --background-image: url('../assets/Quantum-Foam.jpg');
    --content-color: #e7e7e7;
    --sidebar-color: #d7d7d7;
    --text-color: #202020;
    --gallery-text-color: #202020;
    --navbar-color: #792fd9;
    --title-color: #9c65ec;
}
.sidebar iframe{
    margin-bottom: 8px;
}